{
    "extends": "takiyon-react",
    "env": {
        "browser": true,
        "node": true
    },
    "settings": {
        "import/resolver": {
            "node": {},

            "webpack": {
                "config": "webpack.test.config.js"
            }
        }
    },
    "rules": {
        "react/destructuring-assignment": "off",
        "react/jsx-sort-props": "off",
        "object-curly-newline": "off",
        "arrow-parens": "off",
        "operator-linebreak": "off"
    }
}
